<div class="container nav_padding">
<h1>Create a <b>New Channel</b></h1>
<div class="panel panel-info">
  <div class="panel-heading">
  	Important Information: 
  </div>
  <div class="panel-body">
  <ul>
 		<li>Use your real eMail, we will send you a eMail with your Admin Token </li>
 		<li>Try to use a unique Name for a nice URL</li>
	</ul>
  </div>
</div>

<%= render 'form' %>

<%= link_to 'Back', channels_path %>
</div>