<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Constructeev!</h1>
    <p>
      You have successfully created your Channel <b> <%= @channel.name %> </b>
      your Security Hash is: <%= @channel.sec_hash %>. You will need this Hash for administrating your Channel<br>
    </p>
    <p>
      To see your channel, just follow this link: ....
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>