<div class="ui text container">
		<div class="ui inverted header">
			<h1> Create your own Channel for free!</h1>
		</div><br>
		<div class="ui fluid form">
			<div class="two fields">
				<div class="field">
					<input placeholder="myChannel" type="text" ng-model="signUp.name" required />
				</div>
				<div class="field">
					<input placeholder="admin@xyz.com" type="text" ng-model="signUp.email">
				</div>
			</div>
			<div class="ui animated fade button" id="signUpButton" tabindex="0" ng-click="sendSignUp(signUp)">
				<div class="visible content">
					Creat Channel
				</div>
				<div class="hidden content">
					<i class="thumbs up icon"></i>
				</div>
				{{ your_custom_url}}
			</div>
		</div>
	</div>