<li id="feedback-<%= feedback.id %>">
  <span class="user"><%= link_to feedback.channel.name, feedback.email %></span>
  <span class="content"><%= feedback.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(feedback.created_at) %> ago.
  </span>
</li>