/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

body{
	background-color: white !important;
}

.ui.secondary.menu{
	background-color: white !important;
	z-index: 1;
	padding-left: 10px;
    padding-right: 10px;
}

.nav_padding{
	padding-top: 65px;
}


.masthead.segment {
      min-height: 500px;
      padding: 1em 0em;
      z-index: 0;
      background-image: url("/images/banner-bg.jpg") !important;
      background-position: center bottom !important;
    }

.masthead h1 {
        font-size: 40px;
}

div.ui.inverted.header{
	padding-top: 5em;
	font-size: 50%;
}
