        <div class="ui orange secondary pointing menu grid">
          <div class="mobile only row">
            <a class="item" ng-click="toggle()">
              <i class="sidebar icon"></i>
            </a>
          </div>
          <div class="tablet computer only row">
            <a class="active blue item">
              Constructeev
            </a>
            <div class="right menu">
              <a class="item">
                Create Channel
              </a>
              <a class="item">
                Login
              </a>
            </div>
          </div>
        </div>