<!DOCTYPE html>
<html ng-app="constructeev">
<head>
  <title>Constructeev</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular-animate.js"></script>
  <link rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css"/>
   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div ng-include="'templates/side_nav.html'" include-replace></div>
 <div class="pusher">
 <div class="container" ng-include="'templates/nav_top.html'" include-replace></div>
 <div ui-view> </div>
</div>
</div>
 
</body>
</html>
 