<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Constructeev!</h1>
    <p>
      You have successfully created your Channel <b> <%= @channel.name %> </b>
      <br>
      Your Security Hash is: <%= @channel.sec_hash %>, you need this Hash to login<br>
      If you have any problems send a e-mail to support@bmalum.com, or visit <a href="http://138.232.64.229/static_pages/help">Help</a>
    </p>
    <p>
      To see your channel, just follow this link: ....
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>